html, body {
    max-width: 800px;
    max-height: 480px;
    background-color: #5486d9;
    color: white;
    height: 100vh;
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    overflow-x: hidden;
    overflow-y: hidden;
}

a {
    text-decoration: none;
}

#manager-options-1, #manager-options-2, #MO-row1, #MO-row2, #add-employee-inputs, #edit-employee-options, #edit-employee-name-inputs, #edit-job-options, #work-session-holder {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

#manager-options-1, #manager-options-2, #add-employee-inputs, #add-work-session-holder, #edit-work-session-holder, #delete-work-session-holder {
    flex-direction: column;
    height: 100%;
}

#home, #back, #time-clock, #go-to-MO2, #manager-add-employee, #manager-edit-employee, #manager-add-job, #manager-edit-job, #next, #emp-select-next, #edit-name, #edit-pin, .edit-enter,
#success-change-pin, #edit-other-emps, #return-to-menu, #success-change-name, #add-other-emps, #add-other-jobs, #change-job-id, #complete-or-reopen-job, #remove-job, #job-select-next,
#date-select-next, #add-work-session, #success-add-another-session, #success-back-to-sessions-add, #success-change-employee, #success-return-to-menu, #success-back-to-sessions-edit, #edit-work-session,
#remove-emp, #remove-emp-submit {
    color: white;
    text-shadow: 0 0.050em 0.050em rgba(0,0,0,0.5);
    border: unset;
}

#time-clock, #go-to-MO2, #manager-add-employee, #manager-edit-employee, #manager-add-job, #manager-edit-job, #next, #emp-select-next, #edit-name, #edit-pin, .edit-submit, .edit-enter,
#success-change-pin, #edit-other-emps, #return-to-menu, #success-change-name, #add-other-emps, #add-other-jobs, #job-select-next, #change-job-id, #complete-or-reopen-job, #remove-job,
#date-select-next, #add-work-session, #success-add-another-session, #success-back-to-sessions-add, #success-change-employee, #success-return-to-menu, #success-back-to-sessions-edit, #edit-work-session,
#remove-emp, #remove-emp-submit {
    background-color: #13c296;
    color: white;
    text-shadow: 0 0.050em 0.050em rgba(0,0,0,0.5);
    border-radius: 5px;
}

#home, #back {
    width: 100px;
    height: 50px;
    position: absolute;
    top: 0;
    font-size: 24px;
    background-color: transparent;
    text-decoration: underline;
    text-underline-offset: 5px;
}

#home {
    right: 0;
}

#back {
    left: 0;
}

#time-clock, #go-to-MO2, #edit-name, #edit-pin, #remove-emp {
    width: 550px;
    height: 100px;
    font-size: 50px;
}

#change-job-id, #complete-or-reopen-job, #remove-job {
    width: 550px;
    height: 75px;
    font-size: 50px;
}

#manager-add-employee, #manager-edit-employee, #manager-add-job, #manager-edit-job, #manager-work-sessions {
    width: 350px;
    height: 100px;
    font-size: 40px;
}

#success-change-pin, #edit-other-emps, #return-to-menu, #add-other-jobs, #success-change-name, #add-other-emps {
    width: 350px;
    height: 75px;
    font-size: 40px;
}

#success-add-another-session, #success-back-to-sessions-add, #success-change-employee, #success-return-to-menu, #success-back-to-sessions-edit {
    width: 350px;
    height: 75px;
    font-size: 36px;
}

#first-name, #last-name, #add-session-job-id, #add-session-start, #add-session-end, #edit-session-job-id, #edit-session-start, #edit-session-end {
    width: 500px;
    height: 100%;
    font-size: 30px;
    text-indent: 2px;
    border-radius: 5px;
    border: unset;
    transform: translateY(-3px);
}

#next, #emp-select-next, #job-select-next, #date-select-next {
    width: 150px;
    height: 60px;
    font-size: 30px;
}

#add-work-session, #edit-work-session {
    height: 50px;
    font-size: 30px;
}

.edit-enter {
    width: 350px;
    height: 75px;
    font-size: 40px;
}

label {
    font-size: 40px;
    max-width: 200px;
}

input:focus-visible, #pin:focus-visible, #add-session-job-id, #edit-session-job-id {
    outline-color: #13c296;
}

#pin-enter, #job-enter {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 30px;
    margin-bottom: 5px;
}

#job {
    width: 250px;
    height: 50px;
    text-indent: 5px;
}

#pin, #job {
    width: 309px;
    height: 30px;
    text-indent: 5px;
}

#pin:focus-visible {
    outline-color: #13c296;
}

.keypad-enter {
    width: 100px;
    height: 100%;
    background-color: #13c296;
    color: white;
    text-shadow: 0 0.050em 0.050em rgba(0,0,0,0.5);
}

#pin, #edit-enter, #job, .keypad-enter {
    border-radius: 5px;
    border: unset;
    font-size: 25px;
}

#enter, #edit-job-id {
    width: 100%;
    height: 100%;
    background-color: #13c296;
    color: white;
    text-shadow: 0 0.050em 0.050em rgba(0,0,0,0.5);
    border-radius: 7.4px;
    border: unset;
    font-size: 30px;
}

#keypad {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}

.keypad-row {
    display: flex;
    gap: 5px;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100px;
}

.keypad-button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    height: 90%;
    width: 12.5%;
    border-radius: 10px;
    color: #1bb18b;
    border: 3px solid #1bb18b;
    cursor: pointer;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-size: 70px;
}

.keypad-button:active {
    background: #d4d4d4;
    box-shadow: inset 0px 0px 5px #c1c1c1;
}

form {
    height: 100%;
}

#new-emp-pin, #edit-employee-name-inputs {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#keypad-holder, #pins-do-not-match {
    display: none;
}

button {
    cursor: pointer;
}

#success-body {
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 25px;
    height: 100%;
}

#success-message {
    color: springgreen;
    text-align: center;
    margin: 0 10px;
}

#success-subject {
    color: white;
}

#main-body {
    height: 100%;
}

#select-employee-holder, #select-job-holder {
    display: flex;
    justify-content: center;
    align-items: end;
    height: 90%;
    margin: 0 50px;
}

#date-picker-holder {
    display: flex;
    justify-content: space-between;
    height: 100%;
    margin: 0 50px;
}

#select-employee, #select-job {
    width: 500px;
    height: 300px;
    font-size: 25px;
}

#select-employee option, #select-job option {
    height: 40px;
    padding-top: 10px;
}

#select-employee:focus-visible, #select-job:focus-visible, #select-work-session:focus-visible {
    outline: none;
}

#edit-employee-options, #edit-employee-name-inputs, #edit-job-options, #date-picker-holder, #work-session-holder, #add-work-session-holder, #edit-work-session-holder, #delete-work-session-holder {
    display: none;
}

label[for=select-employee] {
    text-align: left;
    width: 500px;
    max-width: unset;
}

#edit-employee-options, #edit-employee-name-inputs, #edit-job-options {
    height: 100%;
    flex-direction: column;
}

#keypad-holder, #complete-or-reopen-job-holder, #remove-job-holder {
    flex-direction: column;
}

#no-emps, #no-jobs, #complete-or-reopen-job-holder, #remove-job-holder {
    display: none;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.button-md {
    background-color: #13c296;
    color: white;
    text-shadow: 0 0.050em 0.050em rgba(0,0,0,0.5);
    border-radius: 5px;
    border: unset;
    width: 350px;
    height: 75px;
    font-size: 40px;
    text-decoration: none;
}

.page {
    justify-content: center;
    align-items: center;
    height: 100%;
}

#date-picker {
    width: 500px;
    height: 40px;
    font-size: 25px;
    border-radius: 10px;
    border: unset;
}

#work-session-holder {
    position: relative;
}

#add-work-session-holder, #edit-work-session-holder {
    justify-content: flex-start;
    align-items: center;
    margin: 90px 70px 0 70px;
    gap: 20px;
}

#error-message {
    color: red;
    position: absolute;
    top: 47px;
}

#success-sessions-add, #success-sessions-edit {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

#SS-row1, #SS-row2 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

#welcome-message {
    font-size: 40px;
}

#label[for=date-picker] {
    text-align: left;
}

#date-picker-box {
    display: flex;
    flex-direction: column;
    transform: translateY(-120px);
}

#date-select-next {
    transform: translateY(156.5px);
    width: 125px;
}

#complete-or-reopen-message, #remove-message {
    text-align: center;
}

.keypad-button-enter-job {
    position: absolute;
    height: 23%;
    width: 12.5%;
    border-radius: 10px;
    bottom: 4px;
    right: 127.5px;
}

.keypad-button-enter-emp {
    height: 90%;
    width: 12.5%;
    border-radius: 10px;
}

.edit-work-session-input-holder { 
    display: flex;
    justify-content: space-between;
    width: 100%;
}

#delete-work-session-holder {
    justify-content: center;
    align-items: center;
}

#select-work-session {
    height: 125px;
    width: 400px;
    font-size: 20px;
}

#remove-emp-holder {
    display: none;
    height: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 50px;
}

#remove-emp-name, #remove-emp-details, #remove-message, #remove-job-details {
    margin: 0;
    text-align: center;
}

#remove-job-holder {
    gap: 50px;
}

#back {
    text-align: left;
}

#manager-options-1, #manager-options-2 {
    display: none;
}