<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/manager.css">
    <script src="../static/js/manager.js" type="module" defer></script>
    <title>Manager</title>
</head>
<body>
    <a href="index.html"><button id="home">Log Out</button></a>
    <button hidden id="back">Back</button>
    <div id="manager-options-1">
        <h1 id="welcome-message"></h1>
        <a href="timeclock.html"><button id="time-clock">Time Clock</button></a>
        <a><button id="go-to-MO2">Manager Options</button></a>
    </div>
    <div hidden id="manager-options-2">
        <div id="MO-row1">
            <a href="manager-add-employee.html"><button id="manager-add-employee">Add Employee</button></a>
            <a href="manager-edit-employee.html"><button id="manager-edit-employee">Edit Employee</button></a>
        </div>
        <div id="MO-row2">
            <a href="manager-add-job.html"><button id="manager-add-job">Add Job</button></a>
            <a><button id="manager-edit-job">Edit Job</button></a>
        </div>
        <div id="MO-row3">
            <a href="manager-work-sessions.html"><button id="manager-work-sessions" class="button-md">Work Sessions</button></a>
        </div>
    </div>
</body>
</html>