<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/manager.css">
    <script src="../static/js/index.js" defer></script>
    <title>Manager - Options</title>
</head>
<body>
    <a href="index.html"><button id="home">Log Out</button></a>
    <a href="manager.html"><button id="back">Back</button></a>
    <div id="manager-options-buttons">
        <div id="MO-row1">
            <a href="manager-add-employee.html"><button id="manager-add-employee">Add Employee</button></a>
            <a href="manager-edit-employee.html"><button id="manager-edit-employee">Edit Employee</button></a>
        </div>
        <div id="MO-row2">
            <a href="manager-add-job.html"><button id="manager-add-job">Add Job</button></a>
            <a href="manager-edit-job.html"><button id="manager-edit-job">edit Job</button></a>
        </div>
    </div>
</body>
</html>