<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Work Sessions</title>
    <link rel="stylesheet" href="../static/css/manager.css">
    <script src="../static/js/manager-work-sessions.js" type="module" defer></script>
    <title>Manager - Work Sessions</title>
</head>
<body>
    <a href="index.html"><button id="home">Log Out</button></a>
    <div id="main-body">
        <a href="manager.html" type="button"><button id="back">Back</button></a>
        <div id="select-employee-holder" class="page">
            <div>
                <label for="select-employee">Employee</label>
                <select id="select-employee"></select>
            </div>
            <button id="emp-select-next" type="button">Next</button>
        </div>
        <div id="date-picker-holder" class="page">
            <input id="date-picker" type="date">
            <button id="date-select-next" type="button">Next</button>
        </div>
        <div id="work-session-holder">
            <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
            <script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns/dist/chartjs-adapter-date-fns.bundle.min.js"></script>
            <div>
                <canvas id="myChart"></canvas>
            </div>
            <button id="add-work-session" type="button">Add Session</button>
        </div>
        <div id="add-work-session-holder" class="page">
            <h1 id="add-session-emp"></h1>
            <h1 id="add-session-date"></h1>
            <div style="display: flex; justify-content: space-between; width: 100%;">
                <label for="add-session-job-id">Job ID:</label>
                <select id="add-session-job-id" size="3"></select>
            </div>
            <div style="display: flex; justify-content: space-between; width: 100%;">
                <label for="add-session-start">Start:</label>
                <input id="add-session-start" type="time">
            </div>
            <div style="display: flex; justify-content: space-between; width: 100%;">
                <label for="add-session-end">End:</label>
                <input id="add-session-end" type="time">
            </div>
            <button id="add-session-submit" class="button-md" type="button">Submit</button>
            <h1 id="error-message"></h1>
        </div>
        <div id="edit-work-session-holder">
            <h1 id="edit-session-emp"></h1>
            <h1 id="edit-session-date"></h1>
            <div style="display: flex; justify-content: space-between; width: 100%;">
                <label for="edit-session-job-id">Job ID:</label>
                <select id="edit-session-job-id" size="3"></select>
            </div>
            <div style="display: flex; justify-content: space-between; width: 100%;">
                <label for="edit-session-start">Start:</label>
                <input id="edit-session-start" type="time">
            </div>
            <div style="display: flex; justify-content: space-between; width: 100%;">
                <label for="edit-session-end">End:</label>
                <input id="edit-session-end" type="time">
            </div>
            <button id="edit-session-submit" class="button-md" type="button">Save Changes</button>
            <h1 id="error-message"></h1>
        </div>
    </div>
    <div id="success-body">
        <h1 id="success-message" class="success-message"></h1>
        <div id="success-sessions-add">
            <div id="SS-row1">
                <a><button id="success-add-another-session">Add Another Session</button></a>
                <a><button id="success-back-to-sessions-add">Back to Sessions</button></a>
            </div>
            <div id="SS-row2">
                <a href="manager-work-sessions.html"><button id="success-change-employee">Back to Employees</button></a>
                <a href="manager.html"><button id="success-return-to-menu">Return to Menu</button></a>
            </div>
        </div>
        <div id="success-sessions-edit">
            <a><button id="success-back-to-sessions-edit">Back to Sessions</button></a>
            <a href="manager-work-sessions.html"><button id="success-change-employee">Back to Employees</button></a>
            <a href="manager.html"><button id="success-return-to-menu">Return to Menu</button></a>
        </div>
    </div>
</body>
</html>