<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/manager.css">
    <script src="../static/js/manager-edit-job.js" type="module" defer></script>
    <title>Manager - Edit Job</title>
</head>
<body>
    <a href="index.html"><button id="home">Log Out</button></a>
    <div id="main-body">
        <a href="manager.html"><button id="back" type="button">Back</button></a>
        <div id="select-job-holder">
            <div>
                <label for="select-job">Job</label>
                <select id="select-job"></select>
            </div>
            <button id="job-select-next" type="button">Next</button>
        </div>
        <div id="edit-job-options">
            <h1 id="editing-job"></h1>
            <button id="change-job-id" type="button">Change Job ID</button>
            <button id="complete-or-reopen-job" type="button"></button>
            <button id="remove-job" type="button">Remove Job</button>
        </div>
        <div id="keypad-holder">
            <div id="job-enter">
                <input id="job" placeholder="Job ID">
            </div>
            <div id="keypad">
                <div class="keypad-row"><div class="keypad-button">1</div><div class="keypad-button">2</div><div class="keypad-button">3</div></div>
                <div class="keypad-row"><div class="keypad-button">4</div><div class="keypad-button">5</div><div class="keypad-button">6</div></div>
                <div class="keypad-row"><div class="keypad-button">7</div><div class="keypad-button">8</div><div class="keypad-button">9</div></div>
                <div class="keypad-row"><div id="backspace" class="keypad-button">&#x2190;</div><div id="dash" class="keypad-button">-</div><div class="keypad-button">0</div><a class="keypad-button-enter"><button id="edit-job-id">Save</button></a></div>
            </div>
        </div>
        <div id="complete-or-reopen-job-holder">
            <h1 id="complete-or-reopen-message"></h1>
            <button id="complete-or-reopen-job-enter" class="button-md" type="button"></button>
        </div>
        <div id="remove-job-holder">
            <h1 id="remove-message"></h1>
            <button id="remove-job-enter" class="button-md remove" style="background-color: red;" type="button">Remove</button>
        </div>
    </div>
    <div id="success-body">
        <h1 id="success-message" class="success-message"></h1>
        <a><button id="back-to-job" class="button-md" type="button">Back to Job</button></a>
        <a href="manager-edit-job.html"><button id="edit-another-job" class="button-md" type="button">Edit Another Job</button></a>
        <a href="manager.html"><button id="return-to-menu" class="button-md" type="button">Return to Menu</button></a>
    </div>
    <div id="no-jobs">No Jobs Found</div>
</body>
</html>