<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/timeclock.css">
    <script src="../static/js/timeclock.js" type="module" deferd></script>
    <title>Time Clock</title>
</head>
<body>
    <a href="manager.html"><button id="back" type="button">Back</button></a>
    <a href="index.html"><button id="logout" type="button">Log Out</button></a>
    <div id="welcome-holder">
        <h1 id="welcome-message"></h1>
        <button id="clock-into-job" class="button-lg" type="button">Clock into Job</button>
        <button id="clock-out" class="button-lg" type="button">Clock Out</button>
    </div>
    <div id="clock-into-jobs-holder">
        <div id="jobs-holder">
            <h1 id="jobs-header">Jobs</h1>
            <select id="clock-into-jobs"></select>
        </div>
        <button id="clock-in" class="button-sm" type="button">Clock In</button>
    </div>
    <div id="success-holder">
        <h1 id="success-message"></h1>
    </div>
</body>
</html>